.menu 
{
    .menu-bar
    {
        background: #2a2a2a;
    }
    .navbar 
    {
        padding: 0;
        .nav-item 
        {
            padding: 5px 10px;
            border-right: 1px solid #454545;
            &:last-child 
            {
                border: none;
            }
            &:hover 
            {
                background: $r;
                color:#fff;
            }
            .nav-link 
            {
                font-size: 13px;
                font-weight: 600;
                color: #fff;
            }
            
        }
        .navbar-nav .dropdown-menu
            {
                background:$lb;
                li 
                {
                    
                    a 
                    {
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 13px;
                        padding: 10px 5px;
                        &:hover 
                        {
                            background: $r;
                            color: #fff;
                        }
                    }
                }
            }
    }
   
}
.menu-second
{
   .navbar 
   {
       padding: 0; 
       .mini-menu 
       {
           background: $g;
           ul
           {
               li
               {
                   padding-right: 15px;
                   a
                   {
                       color: $lb;
                       font-size: 11px;
                        &:hover 
                        {
                            background: $lb;
                            color: #fff;
                        }
                   }
               }
           }
       }  
   }
}
    
    

